#experience-section {
  height: 70vh;
  padding: 0;
  background: rgb(255, 0, 134);
  background: linear-gradient(
    270deg,
    rgba(255, 0, 134, 1) 0%,
    rgba(255, 160, 210, 1) 100%
  );
}

.ferdigheter {
  position: relative;
  top: 15%;
  bottom: 15%;
  left: 50%;
  font-size: 120px;
  font-weight: 900;
  opacity: 0.2;
  transform: translate(-50%, -50%);
}

.tech_icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-area: auto;
  margin: 160px 0 0 160px;
}

.tech_icons img {
  width: 120px;
  height: 120px;
}

.css_icon {
  margin-left: 6px;
  margin-top: 4px;
}
