.projects-section {
  height: 100vh;
  height: 100%;
  width: 100%;
}

.projects {
  font-size: 180px;
  font-weight: 900;
  margin-left: 420px;
  opacity: 0.2;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.prj_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
}

.prj_box {
  position: relative;
  border-radius: 1rem;
  height: 350px;
  width: 600px;
  background-color: rgb(139, 0, 93);
  box-shadow: 0 0 8px rgb(70, 46, 62);
  overflow: hidden;
  transition: 0.5s ease;
}

.prj-img {
  display: flex;
  align-items: center;
  height: 200px;
  width: 250px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.prj-img:hover,
.prj_box:hover {
  transform: scale(1.03);
  opacity: 50%;
}

.project_description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: gainsboro;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* transform: translateY(100%);
  transition: 0.5s ease; */
}

.project_description:hover {
  transform: translateY(0);
}

.project_description h3 {
  font-size: 20px;
}

.project_description p {
  font-size: 16px;
  line-height: 1.4;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.github {
  height: 20px;
  width: 20px;
}

.live-page {
  height: 20px;
  width: 80px;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
}
