#projects-section {
  position: relative;
  height: 100vh;
  height: 100%;
  width: 100%;
}

.projects {
  position: relative;
  /* top: 20%; */
  left: 50%;
  transform: translateX(-50%);
  font-size: 120px;
  font-weight: 900;
  opacity: 0.2;
  text-align: center;
  z-index: 1;
  width: 100%;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 60px;
}

.prj_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 20px;
  column-gap: 0;
  margin-left: 100px;
  margin-right: 100px;
}

.prj_box {
  position: relative;
  border-radius: 16px;
  min-height: 350px;
  width: 313px;
  background-color: rgb(139, 0, 93);
  box-shadow: 0 0 8px rgb(70, 46, 62);
  overflow: hidden;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.prj-img {
  height: 200px;
  width: 280px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.prj-img:hover,
.prj_box:hover {
  transform: scale(1.03);
}

.project_description {
  position: relative;
  width: 100%;
  color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.project_description p {
  font-size: 16px;
  line-height: 1.4;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 16px;
}

.links {
  margin-top: 10px;
}

.live-page {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  margin: 8px;
  padding: 8px 12px;
  transition: 0.3s;
}

.live-page {
  background-color: gray;
  color: gainsboro;
}

.git {
  color: rgb(46, 46, 46);
  background-color: darkgray;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  width: 78px;
  margin: 8px;
  padding: 8px 12px;
  transition: 0.3s;
}

.se-more {
  background-color: darkgray;
  color: rgb(46, 46, 46);
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  width: 78px;
  margin: 8px;
  padding: 8px 12px;
  transition: 0.3s;
}

.live-page:hover {
  background-color: darkgray;
  color: rgb(46, 46, 46);
}

.se-more:hover {
  background-color: gray;
  color: gainsboro;
}

.git:hover {
  background-color: gray;
  color: gainsboro;
}
