* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-family: "Robot", sans-serif;
  background-color: rgb(253, 151, 207);
  color: rgb(68, 67, 67);
}

html {
  scroll-behavior: smooth;
  font-size: 63%;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 90px;
  height: auto;
  border-radius: 5px;
}

#navbar-links {
  display: flex;
  position: absolute;
  top: 22px;
  right: 10px;
  text-align: center;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
}

#navbar-links li {
  padding: 10px;
  list-style: none;
}

#navbar-links a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  /* padding: 10px; */
  transition: 0.3s;
}

#navbar-links a:hover,
#navbar-links a.active {
  color: #131313;
  border-radius: 5px;
}

#hamburger-nav {
  display: none;
}

/* Hamburger Menu */
#hamburger-menu {
  display: block;
  cursor: pointer;
}

#hamburger-icon span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #333;
}
